/* pegar font para importar depois*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(25, 57, 75);
}

header {
    margin: 10px;
    text-align: center;
}

#container-carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-header {
    margin-top: 15px;
    font-size: 44px;
    margin-bottom: 3px;
    color: rgb(255, 255, 255);
}

#header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px 5px rgba(54, 31, 31, 0.212);
    background-color: rgb(34, 64, 82);
    width: 900px;
    height: 60px;
}

#header-main p {
    margin-left: 30px;
    font-size: 21px;
    text-align: center;
}

#icone-carrinho {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    left: 90%;
    top: 1%;
    transform: translate(-100%, -0%);
    margin-top: 80px;
}

#quantidade-no-carrinho {
    position: absolute;
    left: 90%;
    top: 1%;
    margin-top: 90px;
    transform: translate(-100%, -0%);
    background-color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;   
}

#estilo-carrinho {
    box-shadow: 5px 5px 10px 5px rgba(12, 8, 8, 0.212);
    width: 900px;
    height: 540px;
    background-color: rgb(34, 64, 82);
    margin-top: 5px;
}

.produto-area {
    display: flex;
    flex-wrap: wrap;
}

.produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 100px;
}

.produtos img {
    width: 80px;
}

.produtoeimagem {
    text-align: center;
    margin-top: 40px;
    background-color: rgba(12, 8, 8, 0.212);
    padding: 10px;
    border-radius: 10px;
}

.produtoeimagem p {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.button-addcarrinho {
    border-radius: 15px;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
    background: transparent;
    border-color: rgba(235, 199, 199, 0.212);
}

#modalAdicionarItem {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-color: rgb(25, 57, 75);
    border-radius: .5rem;
    text-align: center;
}

#header-modalAdicionarItem {
    display: flex;
    justify-content: space-around;
    margin-top: 11px;
    align-items: center;
}

#header-modalAdicionarItem p {
    font-size: 18px;
}

#modalAdicionarItem button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(12, 8, 8, 0.212);
    border: none;
    border-radius: 5px;
}

#buttonFecharModal {
    padding: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(12, 8, 8, 0.212);
    border: none;
    border-radius: 5px;
}

#body-modalAdicionarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body-modalAdicionarItem p {
    margin-top: 8px;
}

#body-modalAdicionarItem img {
    width: 160px;
    margin-top: 10px;
    background-color: rgba(14, 7, 7, 0.384);
    padding: 10px;
    border-radius: 10px;
}

#body-modalAdicionarItem button {
    margin-top: 4px;
    width: 220px;
    height: 30px;
    padding: 3px;
}

#modal-quantidade-preco {
    display: flex;
    align-items: center;
}

#body-modalAdicionarItem p {
    margin-right: 6px;
    margin-top: 7px;
    margin-right: 7px;
}

#modal-quantidade-preco div {
    margin-left: 6px;
    margin-right: 6px;
}

#modal-quantidade-preco button {
    width: 50px;
    margin-top: 5px;
    font-size: 23px;
    text-align: center;
}

#buttons-bodymodal {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

#modalAdicionarItem.hide {
    top: 0;
}

#modalAdicionarItem.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#produtos-teste {
    display: none;
}

#fade,
#modalAdicionarItem {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#carrinho-style {
    display: none;
}

#carrinho-area {
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translate(-100%, -0%);
    margin-top: 75px;
    transition: .5s;
    opacity: 1;
    box-shadow: 5px 5px 10px 5px rgba(12, 8, 8, 0.212);
    background-color: rgb(34, 64, 82);
}

#carrinho-area img {
    width: 50px;
}

#carrinho-area p {
    font-size: 12px;
}

#produtos-carrinho-area {
    display: flex;
    flex-direction: row;
    margin-bottom: border solid;
    padding: 8px;
    text-align: center;
    align-items: center;
    border-bottom: 0.2px solid rgb(0, 0, 0);
}

#quantidade-carrinho button{
    color:#000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 30px;
    height: 15px;
    margin-left: 5px;
    background-color: #fff;
}

#quantidade-carrinho p{
    margin-left: 5px;
}

#quantidade-carrinho {
    display: flex;
    margin-top: 5px;
}

#preco-nome {
    margin-left: 5px;
}

.hide {
    display: none;
}

#estrutura-carrinho p{
    position: absolute;
    left: 99%;
    top: 0%;
    transform: translate(-100%, -0%);
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}

#estrutura-carrinho img {
    position: absolute;
    left: 93%;
    top: 0%;
    transform: translate(-100%, -0%);
    margin-top: 30px;
}

#total-carrinho {
    position: absolute;
    left: 93%;
    top: 80%;
    transform: translate(-100%, -0%);
    margin-top: 30px;
}