/* pegar font para importar depois*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(25, 57, 75);
}

header {
    margin: 10px;
    text-align: center;
}

.produto-area {
    display: flex;
    flex-wrap: wrap;
}

#container-carrinho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo-header {
    margin-top: 15px;
    font-size: 44px;
    margin-bottom: 3px;
    color: rgb(255, 255, 255);
}

#header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px 5px rgba(54, 31, 31, 0.212);
    background-color: rgb(34, 64, 82);
    width: 900px;
    height: 60px;
}

#header-main p {
    margin-left: 30px;
    font-size: 21px;
    text-align: center;
}

#icone-carrinho {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    cursor: pointer;
}

#estilo-carrinho {
    box-shadow: 5px 5px 10px 5px rgba(12, 8, 8, 0.212);
    width: 900px;
    height: 540px;
    background-color: rgb(34, 64, 82);
    margin-top: 5px;
}

.produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: 100px;
}

.produtos img {
    width: 80px;
}

.produtoeimagem {
    text-align: center;
    margin-top: 40px;
    background-color: rgba(12, 8, 8, 0.212);
    padding: 10px;
    border-radius: 10px;
}

.produtoeimagem p {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.button-addcarinho {
    border-radius: 15px;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
    background: transparent;
    border-color: rgba(235, 199, 199, 0.212);
}

#fade,
#modalAdicionarItem {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modalAdicionarItem {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-color: rgb(25, 57, 75);
    border-radius: .5rem;
    text-align: center;
}

#header-modalAdicionarItem {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

#header-modalAdicionarItem p {
    font-size: 18px;
}

#modalAdicionarItem button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(12, 8, 8, 0.212);
    border: none;
    border-radius: 5px;
}

#buttonFecharModal {
    padding: 5px;
}

#body-modalAdicionarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body-modalAdicionarItem p {
    margin-top: 14px;
}

#body-modalAdicionarItem img {
    width: 160px;
    margin-top: 15px;
    /* box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.212); */
    background-color: rgba(14, 7, 7, 0.384);
    padding: 10px;
    border-radius: 10px;
}

#body-modalAdicionarItem button {
    margin-top: 5px;
    width: 220px;
    height: 30px;
    padding: 3px;
}

#modal-quantidade-preco {
    display: flex;
    text-align: center;
    align-items: center;
}

#body-modalAdicionarItem input {
    color: #000;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

#buttons-bodymodal {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


#modalAdicionarItem.hide {
    top: 0;
}

#modalAdicionarItem.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}
#produtos-teste {
    display: none;
}